.form-group {
    margin-bottom: 20px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-submit {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 400px;
}

.form-out{
    margin-bottom:  -95px;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 400px;
}

table{
    border: none;
    width: 98%;
    border-collapse:collapse;
    border-color: white;
}